<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CBS_Admin_HRModule.Employee_PermissionCycle_WithLogin"/>
      <class name="CBS_Admin_BankingMaster.Add_Prematurity_Slabs"/>
      <class name="CBS_Admin_BankingMaster.Current_Account_Parameter"/>
      <class name="CBS_Admin_HRModule.CreateRankANDRankMaster"/>
      <class name="CBS_Admin_BankingMaster.Fee_Parameter"/>
      <class name="CBS_Admin_BankingMaster.Plan_Parameter"/>
      <class name="CBS_Admin_BankingMaster.Share_Parameter"/>
      <class name="CBS_Admin_ManageBranch.ManagePrefix_CreateBranch_UpdateBranch"/>
      <class name="CBS_Admin_ManageBranch.CreateANDViewServiceCenter"/>
      <class name="CBS_Admin_HRModule.CreateViewEmployee"/>
      <class name="CBS_Admin_ManageBranch.CreateANDViewServiceCenterUser"/>
      <class name="CBS_Admin_BankingMaster.SB_Account_Parameter"/>
      <class name="CBS_Admin_GoldLoan_ManageGoldRate.Manage_Rate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
