<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CBS_Branch_Transactions.Loan_Interest_fee"/>
      <class name="CBS_Branch_TransactionReports.Transaction_Report"/>
      <class name="CBS_Branch_CoreBankingService_RD.RD_Installment_Enquiry"/>
      <class name="CBS_Branch_Transactions.AccountTransaction"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.SB_Ledger"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyDeposit.multiple_Renewals"/>
      <class name="CBS_Branch_Loan_LoanReports.Overdue_Interest"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.View_Deposit_Loan"/>
      <class name="CBS_Branch_CoreBankingService_RD.Pay_Maturity"/>
      <class name="CBS_Branch_CoreBankingService_MIS.MIS_Calculator"/>
      <class name="CBS_Branch_Transactions.Loan_Disbursment"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyDeposit.Pigmy_PayMaturity"/>
      <class name="CBS_Branch_CoreBankingService_FD.FD_PayMaturity"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Upload_NACH_File"/>
      <class name="CBS_Branch_Transactions.Today_Deposit_Collection"/>
      <class name="CBS_Branch_Loan_GoldLoan.GoldLoan_Cycle"/>
      <class name="CBS_Branch_Loan_GoldLoan.Receive_EMI_Payment"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Pending_Loan_For_Approval"/>
      <class name="CBS_Branch_Transactions.Fund_Deposit"/>
      <class name="CBS_Branch_CustomerEnrollment.Create_Customer"/>
      <class name="CBS_Branch_Loan_LoanReports.Collection_Report"/>
      <class name="CBS_Branch_CustomerEnrollment.CustomerPremission"/>
      <class name="CBS_Branch_Loan_GoldLoan.Create_GoldLoan_FlatROI"/>
      <class name="CBS_Branch_CoreBankingService_OD.OD_Ledger"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.LD_Ledger_Report"/>
      <class name="CBS_Branch_Transactions.Wallet_Approve"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyWithdraw.View_Pigmy_Withdraw"/>
      <class name="CBS_Branch_Transactions.MIS_Interest_Pay"/>
      <class name="CBS_Branch_Transactions.Transaction_Receipt"/>
      <class name="CBS_Branch_CustomerEnrollment.MemberCardRequest"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Loan_Calculator"/>
      <class name="CBS_Branch_CustomerEnrollment.View_Customer_Enrollment"/>
      <class name="CBS_Branch_CoreBankingService_FD.FD_Calculator"/>
      <class name="CBS_Branch_CustomerEnrollment.CreateANDView_Group"/>
      <class name="CBS_Branch_Transactions.Credit_Request"/>
      <class name="CBS_Branch_Transactions.Wallet_Cycle"/>
      <class name="CBS_Branch_Transactions.Complaint_HelpRequest"/>
      <class name="CBS_Branch_CoreBankingService_CurrentAccount.CAOpening_View_Ledger_FLOW"/>
      <class name="CBS_Branch_CoreBankingService_OD.Closer_OD_Account"/>
      <class name="CBS_Branch_Transactions.Cheque_Clearance"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.Share_Ledger"/>
      <class name="CBS_Branch_CoreBankingService_RD.RDOpen_Search_Prematured_Ledger"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyDeposit.Installment_Enquiry"/>
      <class name="CBS_Branch_CoreBankingService_MIS.MIS_Renewal"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.SB_Calulator"/>
      <class name="CBS_Branch_TransactionReports.Transaction"/>
      <class name="CBS_Branch_Loan_GoldLoan.Create_NewLoan_ViewGoldLoan_Disbursment"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyDeposit.Pigmy_Calculator"/>
      <class name="CBS_Branch_Loan_IndividualLoan.View_Loan"/>
      <class name="CBS_Branch_CustomerEnrollment.Create_ViewCenter"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.Closure_SB_Accounts"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyWithdraw.Pigmy_Withdraw_Opening"/>
      <class name="CBS_Branch_Transactions.EWallet_Report"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Upload_Mandate"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Disburse_Loan"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.Virtual_Account_Cycle"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Loans_For_Create_Mandate"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.share_Payment"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.SB_AccountOpening"/>
      <class name="CBS_Branch_Loan_GoldLoan.View_Gold_Loan_Details"/>
      <class name="CBS_Branch_Transactions.Auto_Debit"/>
      <class name="CBS_Branch_Transactions.Renewals"/>
      <class name="CBS_Branch_Transactions.Internally_Transfer"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Apply_Loan_Reducing_ROI"/>
      <class name="CBS_Branch_Loan_LoanReports.Loan_Balance"/>
      <class name="CBS_Branch_TransactionReports.Cheque_Recouncillation_Report"/>
      <class name="CBS_Branch_Transactions.Fund_Withdrawal"/>
      <class name="CBS_Branch_Loan_LoanReports.Overdue_Report"/>
      <class name="CBS_Branch_Transactions.Voucher_Approval"/>
      <class name="CBS_Branch_Loan_LoanReports.Loan_List"/>
      <class name="CBS_Branch_Agent.Agent_Target"/>
      <class name="CBS_Branch_Agent.View_Agent"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.SB_OpeningANDSearchANDLedger"/>
      <class name="CBS_Branch_CoreBankingService_MIS.MIS_PayMaturity"/>
      <class name="CBS_Branch_CoreBankingService_MIS.MIS_Open_Search_Premature_Ledger"/>
      <class name="CBS_Branch_Transactions.Interest_Plan_Setup"/>
      <class name="CBS_Branch_CoreBankingService_CurrentAccount.Current_Ledger"/>
      <class name="CBS_Branch_Transactions.Loan_EMI_Payment"/>
      <class name="CBS_Branch_CoreBankingService_CurrentAccount.Search_Current_Account"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.Loan_Disburse"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.Search_SB_Accounts"/>
      <class name="CBS_Branch_CustomerEnrollment.Customer_Account_Details"/>
      <class name="CBS_Branch_Loan_IndividualLoan.LoanCycle_Create_ViewApproval"/>
      <class name="CBS_Branch_Transactions.Fund_Withdrawal_NeftRequest"/>
      <class name="CBS_Branch_Loan_GoldLoan.Create_GoldLoan_ReducingROI"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.Share_Transfer"/>
      <class name="CBS_Branch_Loan_GoldLoan.Loan_Clousure_EMI_Type"/>
      <class name="CBS_Branch_CreditServiceCenter.Add_Credit_Service_Center_And_View_Credit_Request"/>
      <class name="CBS_Branch_TransactionReports.RenewalFrom_App"/>
      <class name="CBS_Branch_Loan_GoldLoan.Disbursement_Gold_Loan_Applications"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.LoanAccountOpeningANDSearch"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.View_ShareReport"/>
      <class name="CBS_Branch_Agent.Agent_Report"/>
      <class name="CBS_Branch_Agent.Notify_Agent"/>
      <class name="CBS_Branch_CoreBankingService_OD.View_OD_Account"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyWithdraw.Pigmy_Withdraw_Closure"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyWithdraw.Installment_Enquiry"/>
      <class name="CBS_Branch_Agent.Loan_Collection_Report"/>
      <class name="CBS_Branch_CustomerEnrollment.CreateANDView_15G_15H_Form"/>
      <class name="CBS_Branch_Transactions.Fund_Deposit_InternalTransfer"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Pending_Disbursal_Loan"/>
      <class name="CBS_Branch_Loan_IndividualLoan.View_Applied_Loan"/>
      <class name="CBS_Branch_Loan_IndividualLoan.View_NACH_File"/>
      <class name="CBS_Branch_Loan_LoanReports.Loan_Account_Details"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyDeposit.Pigmy_Open_Search_PreMature_Ledger"/>
      <class name="CBS_Branch_Transactions.FeedBack"/>
      <class name="CBS_Branch_Loan_GoldLoan.ViewGoldLoanApplication"/>
      <class name="CBS_Branch_CustomerEnrollment.CustomerBankDetailsANDView"/>
      <class name="CBS_Branch_CoreBankingServices_PigmyWithdraw.Pigmy_Withdraw_Ledger"/>
      <class name="CBS_Branch_CustomerEnrollment.Upload_Documents"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.LD_Receive_Payment"/>
      <class name="CBS_Branch_Loan_GoldLoan.Repayment_Schedule"/>
      <class name="CBS_Branch_Loan_GoldLoan.View_GoldLoan_ApplicationsAutoCheckingOnly"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.Nominee_To_Share_Associate"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Upload_Documents"/>
      <class name="CBS_Branch_CoreBankingService_CurrentAccount.Current_Account_Opening"/>
      <class name="CBS_Branch_CoreBankingService_SavingAccount.Approval_Virtual_Account"/>
      <class name="CBS_Branch_Agent.Collection_Sheet_Report"/>
      <class name="CBS_Branch_CoreBankingService_OD.Add_OD_Account_Amount"/>
      <class name="CBS_Branch_CoreBankingService_OD.OD_Account_OpeningANDView"/>
      <class name="CBS_Branch_Loan_IndividualLoan.Apply_Loan_FLAT_ROI"/>
      <class name="CBS_Branch_CoreBankingService_SharePayment.Share_Deposit"/>
      <class name="CBS_Branch_CoreBankingService_CurrentAccount.Clouser_Current_Account"/>
      <class name="CBS_Branch_CoreBankingService_RD.RD_Calculator"/>
      <class name="CBS_Branch_Transactions.RechargeStaff_E_Wallet"/>
      <class name="CBS_Branch_Transactions.TodaysEMIPaymentCollection"/>
      <class name="CBS_Branch_Transactions.Bulk_Deposit"/>
      <class name="CBS_Branch_CoreBankingService_LoanOnDeposit.Search_LD_Accounts"/>
      <class name="CBS_Branch_CustomerEnrollment.AccountPermission"/>
      <class name="CBS_Branch_CoreBankingService_FD.FD_AccountOpening_Search_PreMatured_Ledger"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
